body{
    background-color:rgb(0, 0, 0);
}
.hi{
    color: rgb(255, 12, 12);
    text-align: center;
}
.linea{
    width: 300px;
    height: 5px;
    border-radius: 30px;
    background-color: white;
}
.dev{
    height: 150px;
    left: 150px;

}
.Dicembre{
    color: rgb(255, 255, 255);
    text-align: center
    font-size: 40px;
}
.Inf{
    color: white;
    text-align: center;
    font-size: 45px;
}
.Sabrina{
    color: rgb(255, 0, 0);
    font-size: 45px;
    text-align: center;
}
.Menù{
    color: white;
    font-size: 45px;
    text-align: center;
}
.imag{
    height: 400px;
}
.vnv{
    text-align: center;
}
